.button {
  font-size: 16px;
  color: #fff;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  background: #0000005d;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: #00000025;
  }
}
