@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  height: 100%;
}

:root {
  --font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

a:visited {
  color: #ffffff;
}

button {
  font-family: var(--font-family);
}
