.request {
  width: 100%;
  background: rgba(24, 30, 32, 0.7);
  border-radius: 15px;
  display: flex;
  gap: 20px;
}

.left {
  padding: 21px 0;
  padding-left: 36px;
}

.center {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.right {
  padding-top: 10px;
  position: relative;
  width: 208px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 1px;
  background: linear-gradient(
    180deg,
    rgba(204, 204, 204, 0) 0%,
    #999 50%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}
