@use "../../../global.scss" as *;

.tooltip {
  position: absolute;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  padding: 10px;
  border-radius: 6px;
  white-space: nowrap;
  z-index: 9999;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0.95;
  @include gray-background-br;
  @include gold-outline($width: 1px, $inset: -3px)
}
