# Node dependencies
node_modules/

# Laravel dependencies
vendor/

# Environment variables
.env

# Build output
dist/
build/

# Logs
logs/
*.log

# IDE-specific files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

services/user-service/__pycache__

