.button {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff !important;
  padding: 7px 0 9px;
  width: 100%;
  text-align: center;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background: linear-gradient(90deg, rgba(204, 204, 204, 0) 0%, #999 42.5%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
    //transition: width var(--transition02);
    width: 95%;
  }
}