.circle {
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid #f9d8d8;
  width: 60px;
  height: 60px;
  position: relative;

  &.dropped {
    border: unset;
  }

  &:hover {
    .tooltip {
      display: block;
      opacity: 1;
    }
  }

  svg {
    width: 31px;
    height: 40px;
  }

  &.closed {
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid #999;
  }
}