.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 50px;
  padding: 0 60px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 60px;
}

.textareas_container textarea {
  font-size: 20px;
}

.inputs_wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 38px);
  column-gap: 25px;
  row-gap: 15px;
}

.inputs_wrapper input {
  padding: 0;
  font-size: 24px;
  font-weight: 300;
}

.inputs_wrapper select {
  padding: 0;
  font-size: 24px;
  font-weight: 300;
}
