.point {
  cursor: pointer;
  z-index: 15;
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 6px;
  background-color: #3d3d3d;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    inset: -6px;
    border-radius: inherit;
    border: 3px solid transparent;
    background: linear-gradient(180deg, rgba(255, 249, 184, 1) 0%, rgba(188, 171, 76, 1) 100%);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    pointer-events: none;
    z-index: -1;
    border-top: 3px solid #fff9b8;
    border-bottom: 3px solid #bcab4c;
  }

  &.active {
    width: 91px;
    height: 91px;

    &::after {
      content: "";
      position: absolute;
      inset: -12px;
      border-radius: inherit;
      //transform: rotate(90deg);
      border: 6px solid transparent;
      background: linear-gradient(90deg, rgba(219,179,71,0) 0%, rgba(219,179,71,1) 100%);
      mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: destination-out;
      pointer-events: none;
      z-index: -1;
      border-left: none;
      border-right: 6px solid #DBB347;

      animation: rotateAnimation 4s linear infinite;
    }
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}