.main {
  display: grid;
  grid-template-columns: 40% 55%;
  grid-template-rows: repeat(3, 185px);
  column-gap: 5%;
  row-gap: 60px;
}

.small_buttons {
  grid-row: 3;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 18.5px;
  column-gap: 59px;
}
