.container {
  grid-column: 1;
  width: 469px;
  height: 184px;
  overflow: hidden;
  border-radius: 16px;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 4px 6px 4px 0 rgba(0, 0, 0, 0.25);
}

.button {
  text-transform: uppercase;
  justify-content: space-between;
  padding-top: 75px;
  width: 100%;
  height: 100%;
  color: var(--zoloto);
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #181e20 100%);
}

.title {
  position: relative;
  font-weight: 500;
  height: 100%;
  font-size: 36px;
  text-align: center;
  background: linear-gradient(180deg, #fff9b8 0%, #bcab4c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.links {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.links::before {
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  background: var(--zoloto);
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 351px;
}

.link {
  position: relative;
  padding: 6px 25px 12px;
  width: 100%;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  color: var(--zoloto);
  transition: color var(--transition02);
}

.link:hover {
  color: var(--blue);
}

.link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 249, 184, 0) 0%,
    rgba(153, 149, 110, 0.26) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.link:hover::before {
  opacity: 1;
}
