.title {
  margin: 0 0 5px 0;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #fff9b8;
  background: linear-gradient(180deg, #fff9b8 0%, #bcab4c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* form-window */

.form_window {
  border-radius: 10px;
  background: rgba(35, 35, 41, 0.9);
  overflow: hidden;
}
