.user_avatar {
  position: relative;
  border-radius: 15px;
  width: 200px;
  height: 236px;
  background-color: #3a3a3a;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.name_container {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  left: 0;
  bottom: 0;
  padding: 0 40px 10px;
  height: 82px;
  background: linear-gradient(
    360deg,
    rgba(28, 26, 26, 0.9) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.name_container span {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #f0d95c;
}
