.info_container {
  position: relative;
  color: var(--zoloto);
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info_container::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(204, 204, 204, 0) 0%,
    #999 42.5%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
  transform: translateX(-50%);
  width: 100%;
}

.title {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.03em;
  text-align: center;
}
