 .map {
    z-index: 1;
    position: relative;
    border-radius: 40px;
    width: 100%;
    min-height: 580px;
    backdrop-filter: blur(20px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


