.tooltip {
  padding: 20px 18px;
  position: absolute;
  width: 354px;
  height: 188px;
  border-radius: 20px;
  background: rgba(17, 17, 21, 0.8);
  right: 22px;
  bottom: 42px;
  z-index: 20;

  .tooltip_header {

    .image {
      position: relative;
      width: 57px;
      height: 57px;
      margin: 6px;
      background-color: #3d3d3d;
      border-radius: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &::after {
        content: "";
        position: absolute;
        inset: -6px;
        border-radius: inherit;
        border: 3px solid transparent;
        background: linear-gradient(180deg, rgba(255, 249, 184, 1) 0%, rgba(188, 171, 76, 1) 100%);
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
        -webkit-mask-composite: destination-out;
        pointer-events: none;
        border-top: 3px solid #fff9b8;
        border-bottom: 3px solid #bcab4c;
      }
    }

    display: flex;
    gap: 20px;

    div {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h4 {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        background: linear-gradient(180deg, #fff9b8 0%, #bcab4c 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .tooltip_text {
        color: #76a6bd;

        span {
          display: block;
          width: 100%;
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 16px;
          color: #fff;
        }
      }


    }
  }
}