.header {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 369px 1fr;
  background-color: var(--red);
}

.menu_container_left {
  padding-top: 54px;
  display: flex;
  gap: 43px;
  align-self: center;
}

.menu_container_right {
  padding-top: 54px;
  display: flex;
  gap: 43px;
  align-self: center;
  justify-content: flex-end;
}

.logo {
  grid-column: 2;
  justify-self: center;
  align-self: center;
}
