.desc_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 50px;
}

.desc_col {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.desc_col:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -7.5%;
  height: 70%;
  width: 1px;
  background: linear-gradient(
    180deg,
    rgba(204, 204, 204, 0) 0%,
    #999 50%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
  transform: translateY(-50%);
}

.desc_title {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #fff9b8 0%, #bcab4c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc_title_params {
  position: relative;
}

.question_mark {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 15px;
  top: -5px;
  right: -18px;
  background-image: url('../../../../assets/questionMarkSVG.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.race_info {
  font-weight: 400;
  font-size: 16px;
  color: var(--zoloto);
}

.subraces {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.params_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 55px;
}

.params_inner:nth-child(1) {
  text-align: left;
}

.params_inner:nth-child(2) {
  text-align: right;
}

.params_inner {
  display: flex;
  flex-direction: column;
}

.param {
  font-weight: 400;
  font-size: 16px;
  color: var(--zoloto);
}
