.auth-input {
  font-family: var(--font-family);
  margin-bottom: 12px;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid #fff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #c6c4c4;
}

.auth-input:focus-visible {
  outline: none;
  border-bottom: 1px solid #fff;
}
