.list {
  padding: 12px 22px;
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-auto-rows: 60px;
  gap: 18px;
  max-height: 390px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
    background: linear-gradient(207deg, rgba(255, 255, 255, 0) 0%, #fff 49%, rgba(255, 255, 255, 0) 100%);
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #fff9b8 0%, #bcab4c 100%);
    border-radius: 10px;
  }

  &.opponent {
    direction: rtl;

    > * {
      direction: ltr;
      text-align: left;
    }
  }
}
