.button {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 64px;
  letter-spacing: -0.03em;
  font-variant: small-caps;
  text-align: center;
  cursor: pointer;
  background: #ffffff15;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button::before {
  content: attr(data-text); /* Повторяем текст */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #fff9b8 0%, #bcab4c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.button:hover::before {
  opacity: 1;
}
