.button {
  position: relative;
  font-weight: 700;
  font-size: 64px;
  letter-spacing: -0.03em;
  font-variant: small-caps;
  text-align: center;
  z-index: 2;
  background: linear-gradient(180deg, #fff9b8 0%, #bcab4c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inactive {
  background: #ffffff15;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
