.user_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name_points_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user_name {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  color: var(--zoloto);
}

.user_points {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  background: linear-gradient(180deg, #fff9b8 0%, #bcab4c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
